{% extends 'base.html' %}

{% block title %}Rates{% endblock %}

{% block content %}
<a href="{% url 'currency:rate_create' %}">Create Rate</a>
<table>
    <tr>
        <th>Id</th>
        <th>Buy</th>
        <th>Sell</th>
        <th>Type</th>
        <th>Source</th>
        <th>Created</th>
    </tr>
    {% for rate in object_list %}
    <tr>
        <td>{{ rate.id }}</td>
        <td>{{ rate.buy }}</td>
        <td>{{ rate.sell }}</td>
        <td>{{ rate.type }}</td>
        <td>{{ rate.source.name }}</td>
        <td>{{ rate.created|date:"Y-m-d" }}</td>
        <td><a href="{% url 'currency:rate_update' pk=rate.id %}">Edit</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
