{% extends 'base.html' %}

{% block title %}Sources{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <a href="{% url 'currency:source_create' %}">Create Source</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Source Name</th>
                <th scope="col">URL</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody>
            {% for source in object_list %}
            <tr>
                <th scope="row">{{ source.id }}</th>
                <td>{{ source.name }}</td>
                <td>{{ source.source_url }}</td>
                <td>{{ source.phone }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item"
                                   href="{% url 'currency:source_detail' pk=source.id %}">Details</a></li>
                            <li><a class="dropdown-item"
                                   href="{% url 'currency:source_update' pk=source.id %}">Update</a></li>
                            <li><a class="dropdown-item"
                                   href="{% url 'currency:source_delete' pk=source.id %}">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
