{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}New Password{% endblock %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new <a href="{% url 'accounts:password_change' %}">password reset</a>.
    </p>
  {% endif %}
{% endblock %}
